<!-- start footer -->
<div id="footer"> 
	<!-- start footer top -->
	<div id="footer-top">
		<div class="box"> 
			<!-- list -->
			<div class="list">
				<h5>Information</h5>
				<ul>
					<li><a href="about-page.html" title="">About Us</a></li>
					<li><a href="typography.html" title="">Delivery Information</a></li>
					<li><a href="typography.html" title="">Privacy Policy</a></li>
					<li><a href="typography.html" title="">Terms &amp; Conditions</a></li>
					<li><a href="typography.html" title="">Sitemap</a></li>
				</ul>
			</div>
			<!-- list --> 
			<!-- list -->
			<div class="list">
				<h5>Customer Service</h5>
				<ul>
					<li><a href="contact-page.html" title="">Contact Us</a></li>
					<li><a href="typography.html" title="">Returns</a></li>
					<li><a href="typography.html" title="">Site Map</a></li>
				</ul>
			</div>
			<!-- list --> 
			<!-- list -->
			<div class="list">
				<h5>Extras</h5>
				<ul>
					<li><a href="typography.html" title="">Brands</a></li>
					<li><a href="typography.html" title="">Gift Vouchers</a></li>
					<li><a href="typography.html" title="">Affiliates</a></li>
					<li><a href="typography.html" title="">Specials</a></li>
				</ul>
			</div>
			<!-- list --> 
			<!-- list -->
			<div class="list last">
				<h5>My Account</h5>
				<ul>
					<li><a href="account-page.html" title="">My Account</a></li>
					<li><a href="typography.html" title="">Order History</a></li>
					<li><a href="wishlist-page.html" title="">Wish List</a></li>
					<li><a href="typography.html" title="">Newsletter</a></li>
				</ul>
			</div>
			<!-- list -->
			<div class="clear"></div>
		</div>
	</div>
	<!-- end footer top --> 
	<!-- start footer bottom -->
	<div id="footer-bottom">
		<div class="box"> 
			<!-- common -->
			<div class="common2"> <span class="copyright">&copy; 2012 - Praetorium US</span></div>
			<!-- common --> 
			<!-- common -->
			<div class="common2">
				<div class="payment">
					<ul>
						<li><img src="/images/ico_mc.png" width="35" height="21" alt="mc" /></li>
						<li><img src="/images/ico_visa.png" width="35" height="21" alt="visa" /></li>
						<li><img src="/images/ico_amex.png" width="35" height="21" alt="amex" /></li>
						<li><img src="/images/ico_pp.png" width="70" height="21" alt="pp" /></li>
					</ul>
				</div>
			</div>
			<!-- common -->
			<div class="clear"></div>
		</div>
	</div>
	<!-- end footer bottom --> 
</div>
<!-- end footer --> 
<!-- back to top link -->
<div id="top-container"> <a id="top-link"></a> </div>
<!-- end back to top link --> 

<script type="text/javascript" src="/js/common_footer.js"></script>
