<!-- start login -->
<div id="login-wrapper" class="feature">
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<span class="heading">
		<img src="/images/ico_man.png" width="15" height="15"
			alt="man" />
		Login or
		<a id="register-link" href="/register">
			<strong>Register</strong>
		</a>
	</span>
	<form id="login-form">
		<input type="text" id="login-username"
			name="login-username" placeholder="username" />
		<input type="password" id="login-password"
			name="login-password" placeholder="password" />
		<input type="submit" id="login-submit"
			name="login-submit" value="submit"><br/>
		<input type="checkbox" id="login-remember"
			name="login-remember">Remember Me</a>
	</form>
</div>
<div id="logout-wrapper">
	<span class="heading">
		<img src="/images/ico_man.png" width="15" height="15" alt="man" />
		Logged in as
		<a href="#"><strong class="username-label">[[username]]</strong></a>
	</span>
	<span class="logout">
		<a id="logout-link" href="#">Logout</a>
	</span>
</div>
<!-- end login -->
