<!-- start logo -->
<table class="logotable">
	<tr>
		<td><!-- logo -->
			<div id="logo">
				<a id="logo-link" href="/" title="FUNBID Auction">
					<img src="/images/logo.png" alt="FUNBID Auction" />
				</a>
			</div>
			<!-- logo -->
		</td>
		<td><!-- start header right -->
			<div id="header-right">
				{% include '_loginWrapper.html' %}
			</div>
			<div class="feature number">
				<span class="heading">
					<img src="/images/ico_phone.png" width="15"
						height="15" alt="phone" />
					+39 234 3567
				</span>
				<span>Call Us <em>Mon - Sat</em>: 8:30am - 6:00pm</span>
			</div>
		<!-- end header right -->
		</td>
	</tr>
</table>
<div class="clear"></div>
<!-- end logo -->
