<!-- start menu bar -->
<div id="menu-bar">
	<!-- navigation -->
	<div id="navigation">
		<ul>
			<li><a href="/auctions" title="">Auctions</a>
				<ul class="sub">
					<li class="space"></li>
					<li><a href="#">New Items</a></li>
					<li><a href="#">Kitchen &amp; Appliances</a></li>
					<li><a href="#">Computers, Laptops &amp; Tablets</a></li>
					<li><a href="#">Video Games, Music &amp; Movies</a></li>
					<li><a href="#">Cameras &amp; Camcorders</a></li>
					<li><a href="#">Gift Cards</a></li>
					<li><a href="#">Bid Packs</a></li>
					<li><a href="#">Kids &amp; Toys</a></li>
					<li><a href="#">Cell Phones, MP3s &amp; Headphones</a></li>
					<li><a href="#">Home &amp; Office</a></li>
					<li><a href="#">TV &amp; Home Theater</a></li>
					<li><a href="#">Hobbies, Outdoor &amp; Sports</a></li>
					<li><a href="#">Kids &amp; Toys</a></li>
					<li><a href="#">Fashion, Health &amp; Beauty</a></li>
					<li><a href="#">Other Items</a></li>
					<li><a href="#">All Auctions</a></li>
				</ul>
			</li>
			<li><a href="/how_to_win">How To Win</a></li>
			<li><a href="/winners" title="">Winners</a></li>
			<li><a href="#" title="">Support</a></li>
		</ul>
	</div>
	<!-- navigation -->
	<!-- search -->
	<div class="search">
		<form action="">
			<div>
				<input type="text" value="Search..." name="field" class="input" onfocus="if(this.value == 'Search...') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search...'; }" />
			</div>
			<div>
				<input type="submit" value="" name="button" class="button" />
			</div>
		</form>
	</div>
	<!-- search -->
</div>
<!-- end menu bar -->
