<!-- start twitter -->
<div class="common2 twitter">
	<h3 class="red">Twitter</h3>
	<ul id="twitter_update_list">
		<li><!-- blank --></li>
	</ul>
	<script type="text/javascript" src=""></script>
</div>
<!-- end twitter -->

<!-- start facebook -->
<div class="common2 last facebook">
	<h3 class="red">Facebook</h3>
	<div class="fb-box">
		<script type="text/javascript" src="js/facebook-box.js"></script>
	</div>
	<!-- the css needs an absolute path to work properly -->
</div>
<!-- end facebook -->

