<!-- start topbar -->
<div class="topbar">
	<div class="box">
		<!-- start topnav -->
		<div class="topnav">
			<ul id="top-account-info" class="lava">
				<li><a href="/account" class="active">Account</a></li>
				<li><a href="/account/auto_bidders">Auto Bidders ( <strong><span id="topbar-autobidders">0</span></strong> )</a></li>
				<li><a href="/account/bidding_history">Bids ( <strong><span id="topbar-bids">0</span></strong> )</a></li>
			</ul>
			&nbsp;
		</div>
		<!-- end topnav -->
		<!-- topbar right -->
		<div class="tb-right">
			<div class="language">
				<ul>
					<li class="active">EN<span><img src="/images/flag_en.png" width="16" height="11" alt="en" /></span></li>
				</ul>
			</div>
		</div>
		<!-- topbar right -->
	</div>
</div>
<!-- end topbar -->
