<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>FUNBID Auction - Account Details</title>
  <link href="/css/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <!--[if IE]>
  <link href="css/ie.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if IE 8]>
  <link href="css/ie8.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
  <script type="text/javascript" src="/js/cufon/cufon-yui.js"></script>
  <script type="text/javascript" src="/js/cufon/open-sans-latin.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/core.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</head>

<body class="hideall">
{% include '_messageDialog.html' %}
{% include '_topbar.html' %}
<!-- start header -->
  <div id="header">
    <div class="box"> 
      {% include '_logo.html' %}
      {% include '_menubar.html' %}
    </div>
  </div>
<!-- end header --> 
<!-- start container -->
<div id="container"> 
  <!-- start breadcrumb -->
  <div class="breadcrumb"> 
    <!-- start box -->
    <div class="box"> <span>You are here:</span>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/account">Account</a></li>
      </ul>
    </div>
    <!-- end box -->
    <div class="clear"></div>
  </div>
  <!-- end breadcrumb --> 
  <!-- start box -->
  <div class="box"> 
    <!-- start leftcol -->
    <div id="leftcol" class="medium"> 
      <!-- start featured1 -->
      <div class="Featured">
        <div class="block1st">
          <div class="graycol">
            <h4 class="red">Autobidders</h4>
            <ul class="catelist">
              <li><a href="#">MacBook Pro<span class="right">Bids Remaining: 50</span></a></li>
              <li><a href="#">iPad 2<span class="right">Bids Remaining: 50</span></a></li>
              <li><a href="#">Apple TV<span class="right">Bids Remaining: 50</span></a></li>
              <li><a href="#">MacBook Amateur<span class="right">Bids Remaining: 50</span></a></li>
            </ul>
          </div>
        </div>
        <div class="block1st">
          <div class="graycol">
            <h4 class="red">Buy It Now Offers</h4>
            <ul class="catelist">
              <li><a href="#">MacBook Pro - $1200<span class="right">Bids Returned: 21</span></a></li>
            </ul>
          </div>
        </div>
        <div class="block1st">
          <div class="graycol">
            <h4 class="red">Newsletter</h4>
            <ul class="catelist">
              <li><a href="typography.html">Subscribe / unsubscribe to newsletter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end featured1 --> 
    </div>
    <!-- end leftcol --> 
    <!-- start rightcol -->
    <div id="rightcol"> 
      <!-- start subnav -->
      <div class="subnav rightcol-block">
        <h4 class="red">Account</h4>
        <ul class="sf-menu sf-vertical">
          <li><a class="subnav-link" href="#" title="/account/details"><strong>Account Details</strong></a></li>
          <li><a class="subnav-link" href="#" title="/bid_packs"><strong>Buy More Bids</strong></a></li>
          <li><a class="subnav-link" href="/account/bidding_history" title=""><strong>Bidding History</strong></a></li>
          <li><a class="subnav-link" href="/account/payment_history" title=""><strong>Payment History</strong></a></li>
          <li><a class="subnav-link" href="/account/auctions_won" title=""><strong>Auctions Won</strong></a></li>

        </ul>
      </div>
      <!-- end subnav --> 
    </div>
    <!-- end rightcol -->
    <div class="clear"></div>
  </div>
  <!-- end box --> 
</div>
<!-- end container --> 
{% include '_footer.html' %}

</body>
</html>
