<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>FUNBID Auction - Bid Packs</title>
	{% include '_head_includes.html' %}
	<script type="text/javascript" src="/js/index.js"></script>
</head>

<body class="hideall">
{% include '_header.html' %}
<!-- start container -->
<div id="container">
	<!-- start breadcrumb -->
	<div class="breadcrumb">
		<!-- start box -->
		<div class="box"> <span>You are here:</span>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about-page.html">About Us</a></li>
			</ul>
		</div>
		<!-- end box -->
		<div class="clear"></div>
	</div>
	<!-- end breadcrumb -->
	<!-- start box -->
	<div class="box">
		<!-- start onecol -->
		<div id="onecol" class="medium">
			<h1 class="red">Bid Packs</h1>
			<div class="about-txt">Choose from any of our BidPacks to start winning today!</div>
			<div class="team-container">
				<div class="team"> <img src="mario.png" alt="image1"/> <strong>Mario Maaroufi</strong> <span>Web Designer</span>
					<p>After creating the whole layout of Linear, he also started the PSD to HTML conversion.</p>
					<p class="contact-staff"><a href="mailto:support@aldemastudio.com">@Contact me</a></p>
				</div>
				<div class="team"> <img src="mick.png" alt="image2" /> <strong>Michele Cipriani</strong> <span>Web Developer</span>
					<p>He converted the rest of the template pages and implemented javascript libraries and effects.</p>
					<p class="contact-staff"><a href="mailto:support@aldemastudio.com">@Contact me</a></p>
				</div>
				<div class="team last"> <img src="images/bg_staff.png" alt="image3" /> <strong>More Members</strong> <span>Adpiscing elit</span>
					<p>Vivamus odio massa, tincidunt id feugiat quis, lobortis ut lacus. Pellentesque gravida.</p>
					<p class="contact-staff"><a href="#">@Twitter Nick</a></p>
				</div>
			</div>
			<div class="clear"></div>
			<h2 class="red">Extra</h2>
			<div class="column_grid about">
				<div class="two">Lorem ipsum dolor sit amet, ds a consectetur lapusm adipiscing cursus eu condimentum rutrum, egestas sed sem. Nulla ac cursus leo. Vestibulum molestie ante vel ante elementum viv elit.</div>
				<div class="two">Lorem ipsum dolor sit amet, ds a consectetur lapusm adipiscing cursus eu condimentum rutrum, egestas sed sem. Nulla ac cursus leo. Vestibulum molestie ante vel ante elementum viv elit.</div>
			</div>
		</div>
		<!-- end onecol -->
		<div class="clear"></div>
	</div>
	<!-- end box -->
	<!-- start category -->
	<div class="category">
		<div class="box">
			{% include '_socialmedia.html' %}
			<div class="clear"></div>
		</div>
	</div>
	<!-- end category -->
</div>
<!-- end container -->
{% include '_footer.html' %}

</body>
</html>
