<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>FUNBID Auction - Checkout</title>
  {% include '_head_includes.html' %}
</head>

<body class="hideall">
{% include '_header.html' %}
<!-- start container -->
<div id="container">
  <!-- start breadcrumb -->
  <div class="breadcrumb">
    <!-- start box -->
    <div class="box"> <span>You are here:</span>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="checkout-page.html">Checkout</a></li>
      </ul>
    </div>
    <!-- end box -->
    <div class="clear"></div>
  </div>
  <!-- end breadcrumb -->
  <!-- start box -->
  <div class="box">
    <!-- start leftcol -->
    <div id="leftcol" class="medium">
      <!-- start accordinpanel -->
      <div class="accordin-panel" id="checkout">
        <h1>Checkout</h1>
          <h5><span>Confirm Order</span></h5>
          <!-- block -->
          <div>
            <form  action="" method="post">
              <div class="shopping">
                <!-- start table -->
                <table id="checkout-tab">
                  <thead>
                    <tr>
                      <th><span>Product</span></th>
                      <th><span>Model</span></th>
                      <th><span>Quantity</span></th>
                      <th><span>Price</span></th>
                      <th><span>Total</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="padding">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Donec Nunc</td>
                      <td>-</td>
                      <td>1</td>
                      <td><div>$87.34</div></td>
                      <td><div>$87.34</div></td>
                    </tr>
                    <tr class="padding bot">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr class="padding">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Urna Accumsan</td>
                      <td>#104234 black</td>
                      <td>1</td>
                      <td><div>$56.99</div></td>
                      <td><div>$56.99</div></td>
                    </tr>
                    <tr class="padding bot">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                <!-- end table -->
                <!-- left -->
                <div class="left"> </div>
                <!-- left -->
                <!-- right -->
                <div class="right">
                  <div class="col1"> <span>Sub-Total</span> <span>VAT 15%</span>
                    <div class="total">Total</div>
                  </div>
                  <div class="col2"> <span>$144.33</span> <span>$21.65</span>
                    <div class="total">$165.98</div>
                  </div>
                  <div class="submit-review"> <a class="sub-hover">CONFIRM ORDER</a><a>CONFIRM ORDER</a> </div>
                </div>
                <!-- right -->
              </div>
              <div class="clear"></div>
            </form>
          </div>
          <!-- block -->
        </div>
      <div class="clear"></div>
    </div>
    <!-- end leftcol -->
    <!-- start rightcol -->
    <div id="rightcol">
      <!-- widget -->
      <div class="widget support rightcol-block">
        <h4 class="red">Need Support?</h4>
        <p>Donec tristique quam sit amet dolor aliquet vitae tempor <strong>libero ornare</strong>. In sit amet lorem in eros ullamcorper tincidunt. Proin vulputate mauris quis. <a href="contact-page.html"><span>more</span> →</a></p>
      </div>
      <!-- widget -->
    </div>
    <!-- end rightcol -->
    <div class="clear"></div>
  </div>
  <!-- end box -->
</div>
<!-- end container -->
{% include '_footer.html' %}

</body>
</html>
