<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FUNBID Auction - Forgot Credentials</title>
  <link href="css/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <!--[if IE]>
  <link href="css/ie.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if IE 8]>
  <link href="css/ie8.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
  <script type="text/javascript" src="/js/cufon/cufon-yui.js"></script>
  <script type="text/javascript" src="/js/cufon/open-sans-latin.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/core.js"></script>
  <script type="text/javascript" src="/js/register.js"></script>
</head>

<body class="hideall">
{% include '_messageDialog.html' %}

<!-- Facebook code -->
<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- end Facebook code -->
{% include '_topbar.html' %}
<!-- start header -->
<div id="header">
  <div class="box">
    {% include '_logo.html' %}
    {% include '_menubar.html' %}
  </div>
</div>
<!-- end header -->
<!-- start container -->
<div id="container">
  <!-- start breadcrumb -->
  <div class="breadcrumb">
    <!-- start box -->
    <div class="box"> <span>You are here:</span>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/forgot_credentials">Forgot Credentials</a></li>
      </ul>
    </div>
    <!-- end box -->
    <div class="clear"></div>
  </div>
  <!-- end breadcrumb -->
  <!-- start box -->
  <div class="box">
    <!-- start leftcol -->
    <div id="onecol" class="medium">
      <div id="forgot-credentials" class="contact">
        <h1 class="red">Forgot Credentials</h1>
        <h5><span>Please provide the email addressed you signed up with.</span></h5>
        <div class="accordin-block step2">
          <form id="forgot-credentials-form" action="javascript:void(0);" method="post">
            <div class="accordin-full">
              <div class="row1">
                <label for="Email" class="title">E-mail<strong>*</strong></label>
                <input type="text" name="Email" id="Email" value="" class="input" tabindex="4" />
              </div>
            </div>
            <div class="clear"></div>
            <div class="submit-review"> <a class="sub-hover" onclick="$('#registration-form').submit();" tabindex="7">SUBMIT</a> <a onclick="$('#registration-form').submit();" tabindex="7">SUBMIT</a> </div>
            <div class="clear"></div>
            <div class="clear"></div>
          </form>
        </div>
        <!-- block -->
      </div>
      <!-- end accordinpanel -->
      <div class="clear"></div>
    </div>
    <!-- end leftcol -->
    <div class="clear"></div>
  </div>
  <!-- end box -->
</div>
<!-- end container -->
{% include '_footer.html' %}

</body>
</html>
