<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>FUNBID Auction - Payment History</title>
  {% include '_head_includes.html' %}
  <script type="text/javascript" src="/js/index.js"></script>
</head>

<body class="hideall">
{% include '_header.html' %}
<!-- start container -->
<div id="container">
  <!-- start breadcrumb -->
  <div class="breadcrumb">
    <!-- start box -->
    <div class="box"> <span>You are here:</span>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="account-page.html">Account</a></li>
      </ul>
    </div>
    <!-- end box -->
    <div class="clear"></div>
  </div>
  <!-- end breadcrumb -->
  <!-- start box -->
  <div class="box">
    <!-- start leftcol -->
    <div id="leftcol" class="medium">
      <!-- start featured1 -->
      <div class="Featured">
        <h1>How It Works</h1>
        <div class="block1st">
          <div class="graycol">
            <h4 class="red">Simple Steps</h4>
            <ul class="catelist">
              <li>Each bid raises the price by $0.01.</li>
              <li>The auction clock restarts from 10 seconds every time someone bids.d</a></li>
              <li>If no new bids are placed before the clock runs out, the last bidder wins.</li>
	      <li>Before you can take part in an auction you need to buy bids. Bids are currently on sale for 12¢ each! This small fee makes the massive 95% off savings possible!</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end featured1 -->
    </div>
    <!-- end leftcol -->
    <!-- start rightcol -->
    <div id="rightcol">
      <!-- start subnav -->
      <div class="subnav rightcol-block">
        <h4 class="red">Account</h4>
        <ul class="sf-menu sf-vertical">
          <li><a class="subnav-link" href="/register" title=""><strong>Login / Register</strong></a></li>
          <li><a class="subnav-link" href="/account" title=""><strong>Newsletter</strong></a></li>
        </ul>
      </div>
      <!-- end subnav -->
    </div>
    <!-- end rightcol -->
    <div class="clear"></div>
  </div>
  <!-- end box -->
</div>
<!-- end container -->
{% include '_footer.html' %}

</body>
</html>
