<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>FUNBID Auction</title>
		{% include '_head_includes.html' %}
		<script type="text/javascript" src="/js/index.js"></script>
</head>
<body class="hideall">
	{% include '_header.html' %}
	<!-- start container -->
	<div id="container">
	<!-- start showcase -->
		<div id="showcase">
			<div class="box">
			<!-- title -->
			<div class="title"><strong>What's New:</strong></div>
			<!-- title -->
			<!-- slider -->
			<div id="wrapper">
				<div id="wrapper-border">
					<div class="slider-wrapper">
						<div id="slider" class="nivoSlider"> <a href="/item/1"><img src="images/01.jpg" alt="" title="#htmlcaption" /></a> <a href="/item/1"><img src="images/02.jpg" alt="" title="#htmlcaption2"/></a> <a href="/item/1"><img src="images/03.jpg" alt="" title="#htmlcaption3"/></a><a href="/item/1"><img src="images/04.jpg" alt="" title="#htmlcaption4" /></a></div>
						<div id="htmlcaption" class="nivo-html-caption"> <a href="/item/1">item 1</a> &#8594;</div>
						<div id="htmlcaption2" class="nivo-html-caption"> <a href="/item/1">Item 2</a> &#8594;</div>
						<div id="htmlcaption3" class="nivo-html-caption"> <a href="/item/1">item 3</a> &#8594;</div>
						<div id="htmlcaption4" class="nivo-html-caption"> <a href="/item/1">item 4</a> &#8594;</div>
					</div>
				</div>
			</div>
			<!-- slider -->
		</div>
	</div>
	<!-- end showcase -->
	<!-- start box -->
	<div class="box">
		<!-- start leftcol -->
		<div id="onecol">
			<!-- start gallery -->
			<div class="gallery">
				<h2 class="red">Auctions</h2>
				<ul id="auctions">
				</ul>
				<div class="clear"></div>
			</div>
			<!-- end gallery -->
			<!-- start feature2 -->
			<div class="feature2">
				<!-- feature left -->
				<div class="feature2-left"><a href="category-page.html"><img src="images/free-shipping.png" alt="banner"/></a></div>
				<!-- feature left -->
				<!-- feature right -->
				<div class="feature2-right"><a href="typography.html"><img src="images/linear-offers.png" alt="banner2"/></a></div>
				<!-- feature right -->
				<div class="clear"></div>
			</div>
			<!-- end feature2 -->
			<!-- start partner -->
			<div class="partner">
				<h3 class="red">Our Brands</h3>
				<ul id="mycarousel" class="jcarousel-skin-partner">					<li><a href="category-page.html" title="Chanel" class="fadeable-inverse"><img src="images/logo_chanel.png" width="116" height="75" alt="chanel" /></a></li>
					<li><a href="category-page.html" title="Aigner" class="fadeable-inverse"><img src="images/logo_aigner.png" width="116" height="75" alt="aigner" /></a></li>
					<li><a href="category-page.html" title="GA" class="fadeable-inverse"><img src="images/logo_ga.png" width="116" height="75" alt="ga" /></a></li>
					<li><a href="category-page.html" title="Givenchy" class="fadeable-inverse"><img src="images/logo_givenchy.png" width="116" height="75" alt="givenchy" /></a></li>
					<li><a href="category-page.html" title="YSL" class="fadeable-inverse"><img src="images/logo_ysl.png" width="116" height="75" alt="ysl" /></a></li>
					<li><a href="category-page.html" title="Chanel" class="fadeable-inverse"><img src="images/logo_chanel.png" width="116" height="75" alt="chanel" /></a></li>
					<li><a href="category-page.html" title="Aigner" class="fadeable-inverse"><img src="images/logo_aigner.png" width="116" height="75" alt="aigner" /></a></li>
					<li><a href="category-page.html" title="GA" class="fadeable-inverse"><img src="images/logo_ga.png" width="116" height="75" alt="ga" /></a></li>
					<li><a href="category-page.html" title="Givenchy" class="fadeable-inverse"><img src="images/logo_givenchy.png" width="116" height="75" alt="givenchy" /></a></li>
					<li><a href="category-page.html" title="YSL" class="fadeable-inverse"><img src="images/logo_ysl.png" width="116" height="75" alt="ysl" /></a></li>
					<li><a href="category-page.html" title="Chanel" class="fadeable-inverse"><img src="images/logo_chanel.png" width="116" height="75" alt="chanel" /></a></li>
					<li><a href="category-page.html" title="Aigner" class="fadeable-inverse"><img src="images/logo_aigner.png" width="116" height="75" alt="aigner" /></a></li>
					<li><a href="category-page.html" title="GA" class="fadeable-inverse"><img src="images/logo_ga.png" width="116" height="75" alt="ga" /></a></li>
				</ul>
			</div>
			<!-- end partner -->
		</div>
		<!-- end leftcol -->
		<div class="clear"></div>
	</div>
	<!-- end box -->

	<!-- start category -->
	<div class="category">
		<div class="box">
			<!-- start common -->
			<div class="common2 first">
				<h3 class="red">About Us</h3>
				<p>Hello, and welcome to FUNBID Auction!</p>
			</div>
			<!-- end common -->
			{% include '_socialmedia.html' %}
		</div>
	</div>
	<!-- end category -->
</div>
<!-- end container -->
{% include '_footer.html' %}

</body>
</html>
