<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FUNBID Auction - Register</title>
    <link href="css/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="css/ie.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 8]>
    <link href="css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="/js/cufon/cufon-yui.js"></script>
    <script type="text/javascript" src="/js/cufon/open-sans-latin.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/core.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
</head>

<body class="hideall">
{% include '_messageDialog.html' %}
{% include '_topbar.html' %}
<!-- start header -->
<div id="header">
    <div class="box">
        {% include '_logo.html' %}
        {% include '_menubar.html' %}
    </div>
</div>
<!-- end header -->
<!-- start container -->
<div id="container">
    <!-- start breadcrumb -->
    <div class="breadcrumb">
        <!-- start box -->
        <div class="box"> <span>You are here:</span>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/register">Register Account</a></li>
            </ul>
        </div>
        <!-- end box -->
        <div class="clear"></div>
    </div>
    <!-- end breadcrumb -->
    <!-- start box -->
    <div class="box">
        <!-- start leftcol -->
        <div id="leftcol" class="medium">
            <div id="registration-complete" class='contact'><h1 class='red'>Almost Done!</h1><br/><br/><h2>An email has been dispatched to <strong>&nbsp;</strong>.<br/>Please click the link in the email to verify your account.</h1></div>
            <!-- block -->
            <div id="register-or-login" class="contact">
                <h1 class="red">Register Account</h1>
                <h5><span>If you already have an account with us, please login at the <a href="login-page.html">login page</a>.</span></h5>
                <div class="accordin-block step2">
                    <form id="registration-form" action="javascript:void(0);" method="post">
                        <div class="accordin-half">
                            <div class="row1">
                                <label for="FirstName" class="title">First Name<strong>*</strong></label>
                                <input type="text" name="FirstName" id="FirstName" class="input" tabindex="1" />
                            </div>
                            <div class="row1">
                                <label for="Username" class="title">Username<strong>*</strong></label>
                                <input type="text" name="Username" id="Username" value="" class="input" tabindex="3" />
                            </div>
                            <div class="row1">
                                <label for="Password" class="title">Password<strong>*</strong></label>
                                <input type="password" name="Password" id="Password" value="" class="input" tabindex="5" />
                            </div>
                        </div>
                        <div class="accordin-half">
                            <div class="row1">
                                <label for="LastName" class="title">Last Name<strong>*</strong></label>
                                <input type="text" name="LastName" id="LastName" value="" class="input" tabindex="2" />
                            </div>
                            <div class="row1">
                                <label for="Email" class="title">E-mail<strong>*</strong></label>
                                <input type="text" name="Email" id="Email" value="" class="input" tabindex="4" />
                            </div>
                            <div>
                                <label for="termsandconditions" class="select-check">
                                    <input type="checkbox" name="termsandconditions" id="termsandconditions" class="checkbox" tabindex="6" />
                                    <span class="gray">I have read and agree to the <a href="typography.html">Privacy Policy</a> and <a href="typography.html">Terms &amp; Conditions</a></span></label>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="submit-review"> <a class="sub-hover" onclick="$('#registration-form').submit();" tabindex="7">CONTINUE</a> <a onclick="$('#registration-form').submit();" tabindex="7">CONTINUE</a> </div>
                        <div class="clear"></div>
                        <div class="clear"></div>
                    </form>
                </div>
                <!-- block -->
            </div>
            <!-- end accordinpanel -->
            <div class="clear"></div>
        </div>
        <!-- end leftcol -->
        <!-- start rightcol -->
        <div id="rightcol">
            <!-- start subnav -->
            <div class="subnav rightcol-block">
                <h4 class="red">Account</h4>
                <ul class="sf-menu sf-vertical">
                    <li><a class="subnav-link" href="/register" title=""><strong>Login / Register</strong></a></li>
                    <li><a class="subnav-link" href="/account" title=""><strong>My Account</strong></a></li>
                    <li><a class="subnav-link" href="/account" title=""><strong>Newsletter</strong></a></li>
                </ul>
            </div>
            <!-- end subnav -->
        </div>
        <!-- end rightcol -->
        <div class="clear"></div>
    </div>
    <!-- end box -->
</div>
<!-- end container -->
{% include '_footer.html' %}

</body>
</html>
