<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>FUNBID Auction - Winners</title>
  {% include '_head_includes.html' %}
  <script type="text/javascript" src="/js/index.js"></script>
</head>

<body class="hideall">
{% include '_header.html' %}
<!-- start container -->
<div id="container">
  <!-- start breadcrumb -->
  <div class="breadcrumb">
    <!-- start box -->
    <div class="box"> <span>You are here:</span>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/winners">Winners</a></li>
      </ul>
    </div>
    <!-- end box -->
    <div class="clear"></div>
  </div>
  <!-- end breadcrumb -->
  <!-- start box -->
  <div class="box">
    <!-- start leftcol -->
    <div id="leftcol" class="medium">
      <!-- start featured1 -->
      <div class="Featured">
        <h1>Recent Winners</h1>
        <div class="block1st">
          <div class="graycol">
            <ul class="catelist">
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
              <li><a href="#">MacBook Pro - $5.00</a><a href="#"><span class="right">Kevin</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end featured1 -->
    </div>
    <!-- end leftcol -->
<!-- start rightcol -->
    <div id="rightcol">
      <!-- banner -->
      <ul id="auctions">
        <li id="auction1">
          <div class="top-block">
            <div class="product-name"><a title="MacBook Pro" href="http://www.apple.com/macbook-pro/">MacBook Pro</a></div>
            <div class="thumbnail-zoom-small">
              <a class="fadeable" href="/auction/339">
                <img alt="MacBook Pro" src="http://i.imgur.com/CUUWF.jpg">
              </a>
            </div>
            <div class="winner"><a href="#">No Bidders</a></div>
            <div class="price red">P 0.00</div>
            <div class="time-left">00:00:00</div>
          </div>
          <div class="bid"><a href="javascript:void(0);" class="button-default cart"><span class="hover">BID NOW</span><span>BID NOW</span></a></div>
        </li>
        <li id="auction2">
          <div class="top-block">
            <div class="product-name"><a title="MacBook Pro" href="http://www.apple.com/macbook-pro/">MacBook Pro</a></div>
            <div class="thumbnail-zoom-small">
              <a class="fadeable" href="/auction/339">
                <img alt="MacBook Pro" src="http://i.imgur.com/CUUWF.jpg">
              </a>
            </div>
            <div class="winner"><a href="#">No Bidders</a></div>
            <div class="price red">P 0.00</div>
            <div class="time-left">00:00:00</div>
          </div>
          <div class="bid"><a href="javascript:void(0);" class="button-default cart"><span class="hover">BID NOW</span><span>BID NOW</span></a></div>
        </li>
        <li id="auction3">
          <div class="top-block">
            <div class="product-name"><a title="MacBook Pro" href="http://www.apple.com/macbook-pro/">MacBook Pro</a></div>
            <div class="thumbnail-zoom-small">
              <a class="fadeable" href="/auction/339">
                <img alt="MacBook Pro" src="http://i.imgur.com/CUUWF.jpg">
              </a>
            </div>
            <div class="winner"><a href="#">No Bidders</a></div>
            <div class="price red">P 0.00</div>
            <div class="time-left">00:00:00</div>
          </div>
          <div class="bid"><a href="javascript:void(0);" class="button-default cart"><span class="hover">BID NOW</span><span>BID NOW</span></a></div>
        </li>
      </ul>
      <!-- banner -->
    </div>
    <!-- end rightcol -->
    <div class="clear"></div>
  </div>
  <!-- end box -->
</div>
<!-- end container -->
{% include '_footer.html' %}

</body>
</html>
